@import './base/variables';

span.tag{
  background-color: white;
  border: 1px solid $dark-green;
  .delete{
    background-color: $dark-green;
  }
  a{
    color: $dark-green;
  }
  margin: 0px 5px;
}
