.skipButton{
    height: 20px;
    font-size: 10px;
  }
.buttonColumn{
  text-align: right;
}

.postEventContainer{
  align-items: flex-start;
}

.titlePlace{
  font-weight: bold;
  text-align: center; 
}
