<h2 is-2 title>Create a bundle</h2>
    <form>
      <div class="field">
        <input class="input" name="search" placeholder="What event are you going to?" ng-model="search"/>
        <label for="rating">Radius for restaurants and bars: </label>
          <div class="control">
            <div class="select">
              <select ng-model="radius" name="rating">
                <option value="500">0.5km</option>
                <option value="1000">1km</option>
                <option value="1500">1.5km</option>
                <option value="2000">2km</option>
                <option value="2500">2.5km</option>
              </select>
            </div>
          </div>
        <button class="button" name="button" ng-click="searchEvents()">Search</button>
      </div>
    </form>

<div class="columns is-multiline" ng-class="{ 'hide': hideEvents }">
    <div class="column is-3-desktop is-4-tablet" ng-repeat="event in events | filter: search">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <form>
              <h6 class="title is-6">{{event.eventname}}</h6>
              <p><strong>Venue: </strong> {{event.venue.name}}</p>
              <p><strong>Date: </strong> {{event.date}}</p>
              <p><strong>Address: </strong> {{event.venue.address}}, {{event.venue.town}}</p>
              <p><strong>Event type: </strong> {{event.EventCode}}</p>
              <p><strong>Description: </strong> {{event.description}}</p>
              <p><strong>Event starts: </strong> {{event.openingtimes.doorsopen}}</p>
              <p ng-if="event.entryprice"><strong>Ticket Price: </strong> {{event.entryprice}}</p>
              <button class="button" name="button" ng-click="choseEvent(event)">Pick this event</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="columns" ng-class="{ 'hide': !hideEvents}">
  <div class="column is-one-third">
    <h3>Your Event</h3>
    <div class="card">
      <div class="card-content">
        <div class="content">
          <form>
            <h6 class="title is-6">{{pickedEvent.name}}</h6>
            <p><strong>Venue: </strong> {{pickedEvent.venue}}</p>
            <p><strong>Date: </strong> {{pickedEvent.date}}</p>
            <p><strong>Ticket Price: </strong> {{pickedEvent.price}}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="columns column is-multiline is-one-third">
    <h3>Restaurants</h3>
    <div class="column is-full" ng-repeat="restaurant in restaurants" ng-class="{ 'hide': hideRestaurants}">
      <div class="card">
        <div class="card-content">
          <form>
            <h6 class="title is-6">{{restaurant.name}}</h6>
            <p><strong>Address:</strong>{{restaurant.details.formatted_address}}</p>
            <p ng-if="restaurant.rating"><strong>Rating: </strong> {{restaurant.rating}}</p>
            <p ng-if="restaurant.price_level"><strong>Price level: </strong> {{restaurant.price_level}}</p>
            <div ng-if="restaurant.id === currentShowRestaurant">
              <p ng-if="restaurant.details.website"><strong>Website: </strong> <a href="{{restaurant.details.website}}">{{restaurant.details.website}}</a></p>
              <p ng-if="restaurant.details.opening_hours"><strong>Opening Hours: </strong>
                <ul>
                  <li>{{restaurant.details.opening_hours.weekday_text[0]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[1]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[2]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[3]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[4]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[5]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[6]}}</li>
                </ul></p>
            </div>
            <button class="button" name="button" ng-click="showDetailsRestaurant(restaurant)">See More</button>
            <button class="button" name="button" ng-click="chooseRestaurant(restaurant)">Pick this restaurant</button>
          </form>
        </div>
      </div>
    </div>
    <div class="column is-full" ng-class="{ 'hide': !hideRestaurants}">
      <div class="card" >
        <div class="card-content">
          <form>
            <h6 class="title is-6">{{pickedRestaurant.name}}</h6>
            <p><strong>Address:</strong>{{pickedRestaurant.address}}</p>
            <p ng-if="pickedRestaurant.rating"><strong>Rating: </strong> {{pickedRestaurant.rating}}</p>
            <p ng-if="pickedRestaurant.price_level"><strong>Price level: </strong> {{pickedRestaurant.price_level}}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="columns column is-multiline is-one-third">
    <h3>Bars</h3>
    <div class="column is-full" ng-repeat="bar in bars"  ng-class="{ 'hide': hideBars}">
      <div class="card">
        <div class="card-content">
          <form>
            <h6 class="title is-6">{{bar.name}}</h6>
            <p><strong>Address:</strong>{{bar.details.formatted_address}}</p>
            <p ng-if="bar.rating"><strong>Rating: </strong> {{bar.rating}}</p>
            <p ng-if="bar.price_level"><strong>Price level: </strong> {{bar.price_level}}</p>
            <div ng-if="bar.id === currentShowBar">
              <p ng-if="bar.details.website"><strong>Website: </strong> <a href="{{bar.details.website}}">{{bar.details.website}}</a></p>
              <p ng-if="bar.details.opening_hours"><strong>Opening Hours: </strong>
                <ul>
                  <li>{{bar.details.opening_hours.weekday_text[0]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[1]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[2]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[3]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[4]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[5]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[6]}}</li>
                </ul></p>
            </div>
            <button class="button" name="button" ng-click="showDetailsBar(bar)">See More</button>
            <button class="button" name="button" ng-click="chooseBar(bar)">Pick this bar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="column is-full" ng-class="{ 'hide': !hideBars}">
      <div class="card" >
        <div class="card-content">
          <form>
            <h6 class="title is-6">{{pickedBar.name}}</h6>
            <p><strong>Address:</strong>{{pickedBar.address}}</p>
            <p ng-if="pickedBar.rating"><strong>Rating: </strong> {{pickedBar.rating}}</p>
            <p ng-if="pickedBar.price_level"><strong>Price level: </strong> {{pickedBar.price_level}}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="button" name="button" ng-class="{ 'hide': !hideEvents}" ng-click="createBundle()">Submit Bundle</button>
