<h2 class="is-2 title">Create a bundle</h2>

<form name="form" novalidate ng-submit="searchEvents()" ng-show="!hideEvents">
    <div class="columns is-multiline">
      <div class="column is-half field">
        <label for="search">What event are you going to?</label>
        <input class="input" name="search" placeholder="Search..." ng-model="search" required/>
        <div ng-messages="form.search.$error" ng-if="form.search.$dirty">
          <small ng-message="required">This field is required </small>
        </div>
      </div>
      <div class="column is-half field">
        <label for="radius">Radius for restaurants and bars: </label>
        <div class="control">
          <div class="select">
            <select ng-model="radius" name="radius" required>
              <option value="500">0.5km</option>
              <option value="1000">1km</option>
              <option value="1500">1.5km</option>
              <option value="2000">2km</option>
              <option value="2500">2.5km</option>
            </select>
          </div>
        </div>
        <div ng-messages="form.radius.$error" ng-if="form.radius.$dirty">
          <small ng-message="required">This field is required </small>
        </div>
      </div>
      <div class="column">
        <button class="button" name="button" ng-disabled="form.$invalid">Find my event</button>
      </div>
  </div>
</form>
<div class="is-flex submitBundleButton">
  <button class="button" name="button" ng-class="{ 'hide': !hideEvents}" ng-click="createBundle()">Submit Bundle</button>
</div>

<div class="columns is-multiline" ng-class="{ 'hide': hideEvents }">
    <div class="column is-3-desktop is-4-tablet" ng-repeat="event in events | filter: search">
      <div class="card">
        <div class="card-content">
          <div class="content">

              <h5 class="title is-5  is-centered">{{event.eventname}}</h6>
              <p><strong>Venue: </strong> {{event.venue.name}}</p>
              <p><strong>Date: </strong> {{event.date}}</p>
              <p><strong>Address: </strong> {{event.venue.address}}, {{event.venue.town}}</p>
              <p><strong>Event type: </strong> {{event.EventCode}}</p>
              <p><strong>Description: </strong> {{event.description}}</p>
              <p><strong>Event starts: </strong> {{event.openingtimes.doorsopen}}</p>
              <p ng-if="event.entryprice"><strong>Ticket Price: </strong> {{event.entryprice}}</p>
              <button class="button" name="button" ng-click="choseEvent(event)">Pick this event</button>

          </div>
        </div>
      </div>
    </div>
</div>

<div class="columns is-flex postEventContainer" ng-show="hideEvents">
  <div class="column is-one-third">
    <div class="column is-full">
      <h3>Your Event</h3>
    </div>
    <div class="column is-full">
      <div class="card">
        <div class="card-content">
          <div class="content">

              <h6 class="title is-6 is-centered">{{pickedEvent.name}}</h6>
              <p><strong>Venue: </strong> {{pickedEvent.venue}}</p>
              <p><strong>Date: </strong> {{pickedEvent.date}}</p>
              <p><strong>Ticket Price: </strong> {{pickedEvent.price}}</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns column is-multiline is-one-third no-margin" ng-show="!skipRestaurant">
    <div class="column is-half">
      <h3>Restaurants</h3>
    </div>
    <div class="column is-half buttonColumn">
      <button class="skipButton button" ng-click="skipRestaurants()">Skip Restaurants</button>
    </div>
    <div class="column is-full" ng-repeat="restaurant in restaurants" ng-show="!hideRestaurants">
      <div class="card">
        <div class="card-content">
          <form>
            <h6 class="titlePlace is-6">{{restaurant.name}}</h6>
            <p><strong>Address:</strong>{{restaurant.details.formatted_address}}</p>
            <p ng-show="restaurant.rating"><strong>Rating: </strong> {{restaurant.rating}}</p>
            <p ng-show="restaurant.price_level"><strong>Price level: </strong> {{restaurant.price_level}}</p>
            <div ng-show="restaurant.id === currentShowRestaurant">
              <p ng-show="restaurant.details.website"><strong>Website: </strong><a href="{{restaurant.details.website}}">Click here</a></p>
              <p ng-show="restaurant.details.opening_hours"><strong>Opening Hours: </strong>
                <ul>
                  <li>{{restaurant.details.opening_hours.weekday_text[0]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[1]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[2]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[3]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[4]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[5]}}</li>
                  <li>{{restaurant.details.opening_hours.weekday_text[6]}}</li>
                </ul></p>
            </div>
            <button class="button" name="button" ng-click="showDetailsRestaurant(restaurant)">See More</button>
            <button class="button" name="button" ng-click="chooseRestaurant(restaurant)">Pick this restaurant</button>
          </form>
        </div>
      </div>
    </div>
    <div class="column is-full" ng-show="hideRestaurants">
      <div class="card" >
        <div class="card-content">

            <h6 class="titlePlace is-6">{{pickedRestaurant.name}}</h6>
            <p><strong>Address:</strong>{{pickedRestaurant.address}}</p>
            <p ng-show="pickedRestaurant.rating"><strong>Rating: </strong> {{pickedRestaurant.rating}}</p>
            <p ng-show="pickedRestaurant.price_level"><strong>Price level: </strong> {{pickedRestaurant.price_level}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="columns column is-multiline is-one-third no-margin">
    <div class="column is-full">
      <h3>Bars</h3>
    </div>
    <div class="column is-full" ng-repeat="bar in bars"  ng-show="!hideBars">
      <div class="card">
        <div class="card-content">
          <form>
            <h6 class="titlePlace is-6">{{bar.name}}</h6>
            <p><strong>Address:</strong>{{bar.details.formatted_address}}</p>
            <p ng-if="bar.rating"><strong>Rating: </strong> {{bar.rating}}</p>
            <p ng-if="bar.price_level"><strong>Price level: </strong> {{bar.price_level}}</p>
            <div ng-if="bar.id === currentShowBar">
              <p ng-if="bar.details.website"><strong>Website: </strong> <a href="{{bar.details.website}}">Click here</a></p>
              <p ng-if="bar.details.opening_hours"><strong>Opening Hours: </strong>
                <ul>
                  <li>{{bar.details.opening_hours.weekday_text[0]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[1]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[2]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[3]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[4]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[5]}}</li>
                  <li>{{bar.details.opening_hours.weekday_text[6]}}</li>
                </ul></p>
            </div>
            <button class="button" name="button" ng-click="showDetailsBar(bar)">See More</button>
            <button class="button" name="button" ng-click="chooseBar(bar)">Pick this bar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="column is-full" ng-show="hideBars">
      <div class="card" >
        <div class="card-content">

            <h6 class="titlePlace is-6">{{pickedBar.name}}</h6>
            <p><strong>Address:</strong>{{pickedBar.address}}</p>
            <p ng-if="pickedBar.rating"><strong>Rating: </strong> {{pickedBar.rating}}</p>
            <p ng-if="pickedBar.price_level"><strong>Price level: </strong> {{pickedBar.price_level}}</p>

        </div>
      </div>
    </div>
  </div>
</div>
