<h2 class="is-2 title" ng-show="isCreator">Your bundle on {{bundle.event.date}}!</h2>
<h2 class="is-2 title" ng-show="!isCreator">{{bundle.creator.firstName}}'s bundle on {{bundle.event.date}}</h2>

<div class="columns">
  <div class="column is-one-third-desktop">The Event
    <h3 class="is-3 title">{{bundle.event.name}}</h3>
    <div class="container">
      <p><strong>Venue: </strong>{{bundle.event.venue}}</p>
      <p><strong>Address: </strong>{{bundle.event.address}}</p>
      <p><strong>Doors open: </strong>{{bundle.event.startTime}}</p>
      <p><strong>Event type: </strong>{{bundle.event.eventType}}</p>
      <p><strong>Description: </strong> {{bundle.event.description}}</p>
    </div>
  </div>
  <div ng-if="bundle.restaurant" class="column is-one-third">The Restaurant
    <h3 class="is-3 title">{{bundle.restaurant.name}}</h3>
    <div class="container">
      <p><strong>Address: </strong>{{bundle.restaurant.address}}</p>
      <p ng-if="bundle.restaurant.website"><strong>Website: </strong><a href="http://{{bundle.restaurant.website}}">Click here</a></p>
    </div>
  </div>
  <div ng-if="bundle.bar" class="column is-one-third">The Bar
    <h3 class="is-3 title">{{bundle.bar.name}}</h3>
    <div class="container">
      <p><strong>Address: </strong>{{bundle.bar.address}}</p>
      <p ng-if="bundle.bar.website"><strong>Website: </strong><a href="http://{{bundle.bar.website}}">Click here</a></p>
    </div>
  </div>
</div>

<button class="button is-danger" ng-click="deleteBundle()" ng-if="isCreator">Delete</button>


<div class="columns">

  <div class="column is-half-desktop" ng-class="{ 'hide': hideGetTravelTime }">
    <h5 class="title is-5">Where are you coming from?</h5>
    <input class="input" name="searchLocation" ng-model="location" placeholder="Search location to find travel time" google-autocomplete set-current-location="setCurrentLocation(location)" test-coverage="testCoverage()">
    <p ng-if="coverageTest.points[0].covered === false">Sorry the location you have entered is out of zone</p>

      <h5 ng-show="bundle.bar && bundle.restaurant" class="title is-6">Where would you like to go first?</h5>
      <form ng-show="bundle.bar && bundle.restaurant">
        <input ng-model="chooseLocation" type="radio" name="radio" id="radio-1" ng-value="bundle.restaurant.location"/>
        <label for="restaurant">Restaurant</label>

        <input ng-model="chooseLocation" type="radio" name="radio" id="radio-2" ng-value="bundle.bar.location"/>
        <label for="bar">Bar</label>
      </form>

      <hr>
      <button class="button" ng-click="getTravelTime()">Get Travel Time</button>
      <p ng-class="{ 'hide': hideTravelTime }">It will take you {{ travelTime.travel_time_minutes }} minutes to walk there.</p>
      <hr>
  </div>

  <div class="column is-half-desktop">

    <h5 class="title is-5" ng-if="isCreator">Who's coming?</h5>
    <h5 class="title is-5" ng-if="!isCreator && bundle.attendees[0]">Who's coming?</h5>
    <div>
      <form name="form">
        <div class="column is-half">
          <span ng-repeat="attendee in bundle.attendees" class="tag is-info"><a ui-sref="usersShow({ id: attendee.userId })">{{attendee.firstName}} {{attendee.lastName}}</a>
            <button ng-if="isCreator" ng-click="removeAttendee(attendee)" class="delete is-small"></button>
          </span>
        </div>
        <div class="wrapper" ng-show="isCreator">
          <label>Add Attendees</label>
          <input class="input" type="text" name="search" placeholder="Search users..." ng-model="search"/>
        </div>
        <div ng-if="form.search.$dirty">
          <ul ng-repeat="user in users | filter: search">
            <li>{{user.firstName}} {{user.lastName}}<button ng-click="addAttendee(user); form.search.$setPristine()">Add</button></li>
          </ul>
        </div>
      </form>
    </div>

  </div>

</div>
<div google-map location="bundle.event.location"></div>
