<h2 class="is-2 title">Get excited for your bundle  on {{bundle.event.date}}</h2>

<div class="columns">
  <div class="column is-one-third">
    <h3 class="is-3 title">{{bundle.event.name}}</h3>
    <div class="container">
      <p>EVENT INFO WILL GO HERE</p>
    </div>
  </div>
  <div class="column is-one-third">
    <h3 class="is-3 title">{{bundle.bar.name}}</h3>
    <div class="container">
      <p>BAR INFO WILL GO HERE</p>
    </div>
  </div>
  <div class="column is-one-third">
    <h3 class="is-3 title">{{bundle.restaurant.name}}</h3>
    <div class="container">
      <p>RESTAURANT INFO WILL GO HERE</p>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-quarter">

  </div>
  <div class="column is-one quarter">
    <a class="button is-lavender">Edit</a>
  </div>
  <div class="column is-one-quarter">
    <button class="button is-danger">Delete</button>
  </div>
  <div class="column is-one-quarter">
  </div>
</div>
  <div google-map location="bundle.event.location"></div>
