<h2 class="is-2 title">Get excited for your bundle  on {{bundle.event.date}}</h2>
<div class="columns">
  <div class="column is-one-third">The Event</div>
  <div class="column is-one-third">The Restaurant</div>
  <div class="column is-one-third">The Bar</div>

</div>
<div class="columns">
  <div class="column is-one-third">
    <h3 class="is-3 title">{{bundle.event.name}}</h3>
    <div class="container">
      <p><strong>Venue: </strong>{{bundle.event.venue}}</p>
      <p><strong>Address: </strong>{{bundle.event.address}}</p>
      <p><strong>Doors open: </strong>{{bundle.event.startTime}}</p>
      <p><strong>Event type: </strong>{{bundle.event.eventType}}</p>
      <p><strong>Description</strong> {{bundle.event.description}}</p>
    </div>
  </div>
  <div class="column is-one-third">
    <h3 class="is-3 title">{{bundle.restaurant.name}}</h3>
    <div class="container">
      <p><strong>Address: </strong>{{bundle.restaurant.address}}</p>
      <p><strong>Website: </strong><a href="{{bundle.restaurant.website}}">{{bundle.restaurant.website}}</a></p>
    </div>
  </div>
  <div class="column is-one-third">
    <h3 class="is-3 title">{{bundle.bar.name}}</h3>
    <div class="container">
      <p><strong>Address: </strong>{{bundle.bar.address}}</p>
      <p><strong>Website: </strong><a href="{{bundle.bar.website}}">{{bundle.bar.website}}</a></p>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-quarter">

  </div>
  <div class="column is-one quarter">
    <a class="button is-lavender">Edit</a>
  </div>
  <div class="column is-one-quarter">
    <button class="button is-danger">Delete</button>
  </div>
  <div class="column is-one-quarter">
  </div>
</div>
<div google-map location="bundle.event.location"></div>
