<div class="homepageDiv">


<div class="animationContent">
  <div class="animationContent__container">
    <p class="animationContent__container__text">
      Create your
    </p>

    <ul class="animationContent__container__list">
      <li class="animationContent__container__list__item">bundle !</li>
      <li class="animationContent__container__list__item">night !</li>
      <li class="animationContent__container__list__item">experience !</li>
      <li class="animationContent__container__list__item">adventure !</li>
    </ul>
  </div>
</div>
</div>
