<!-- <h1 class="app-name">BUNDLE</h1> -->

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div class="homepageDiv">


<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Create your
    </p>

    <ul class="content__container__list">
      <li class="content__container__list__item">bundle !</li>
      <li class="content__container__list__item">night !</li>
      <li class="content__container__list__item">experience !</li>
      <li class="content__container__list__item">adventure !</li>
    </ul>
  </div>
</div>
</div>
