<!DOCTYPE html>
<html ng-app="bundleApi">
<head>
  <meta charset="utf-8">
  <title>Bundle API</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt4E-WEbD72VuN0hRhsoIAOAoYjEjxkTY&libraries=places"></script>
</head>
<body ng-controller="MainCtrl">
  <nav class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item" ui-sref="home">Home</a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" ui-sref="bundlesNew" ng-if="isAuthenticated()">New Bundle</a>
        <a class="navbar-item" ui-sref="usersShow({ id: currentUserId })" ng-if="isAuthenticated()">My Bundles</a>
        <a class="navbar-item" ui-sref="login" ng-if="!isAuthenticated()">Login</a>
        <a class="navbar-item" ui-sref="register" ng-if="!isAuthenticated()">Register</a>
        <a class="navbar-item" ng-click="logout()" ng-if="isAuthenticated()">Logout</a>
      </div>
    </div>
  </nav>

  <div class="notification is-{{flashMessage.type}} is-flash" ng-class="{ 'is-active': flashMessage }">
      {{ flashMessage.content }}
    </div

  <section class="section">
    <div class="container">
      <ui-view></ui-view>
    </div>
  </section>
</body>
</html>
