.hide{
  display: none !important;
}

.map {
  height: 500px;
}

.notification.is-flash {
  height: 0;
  opacity: 0;
  transition: all 1s;
  padding: 0;
  margin: 0;
  border-radius: 0;

  &.is-active {
    height: 65px;
    opacity: 1;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  }
}

body {
  margin-top: 80px !important;

}

.wrapper {
    display:inline-block;
}

input {
    background-color:transparent;
    border: 1px solid grey;
}

.skipButton{
  height: 20px; 
}
