@import 'base/typography';
@import 'base/variables';
@import 'base/globalClasses';
@import 'components/buttons';
@import 'components/cards';
@import 'components/navbar';
@import 'components/flashMessages';
@import 'layouts/responsive';
@import 'pages/login';
@import 'pages/registration';
@import 'pages/homepage';
@import 'pages/userIndex';
@import 'pages/bundleShow';
@import 'pages/bundlesNew';

.hide{
  display: none !important;
}

.map {
  height: 500px;
}

body {
  margin-top: 80px !important;
}


input {
    background-color:transparent;
    border: 1px solid grey;
}

p.ng-binding {
  max-width: 350px;
}
