<section class="columns">
  <div class="column is-half-desktop">
    <img src="{{ user.image }}" alt="">
    <h3 class="title">{{ user.firstName }} {{ user.lastName }}</h3>
  </div>
  <div class="column is-half-desktop">
    <h5>{{ user.location }}</h5>
    <hr>
    <span ng-repeat="item in user.musicGenres" class="tag is-warning">
      {{ item.genre }}
      <button ng-if="currentUserId === user._id" class="delete is-small" ng-click="deleteGenre(item)"></button>
    </span>

    <div class="dropdown is-active">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
          <span>Add Music Genres</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu2" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>Rock</p>
          </div>
          <hr class="dropdown-divider">
          <div class="dropdown-item">
            <p>Pop</p>
          </div>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            This is a link
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
<a class="button" ui-sref="usersEdit({ id: user._id })">Edit</a>
<hr>

<section class="columns">
  <div class="column is-half-desktop">
    <h3>Previous Bundles</h3>
    <hr>
    <a ui-sref="bundlesShow({ id: bundle._id })" ng-if="bundle.creator === user._id" ng-repeat="bundle in bundles">
      <bundle-card ng-if="+eventDate[0] < currentYear || +eventDate[0] === currentYear && +eventDate[1] < currentMonth || +eventDate[0] === currentYear && +eventDate[1] === currentMonth && +eventDate[2] <= currentDate" event="bundle.event.name" bar="bundle.bar.name" restaurant="bundle.restaurant.name" date="bundle.event.date"></bundle-card>
    </a>
  </div>
  <div class="column is-half-desktop">
    <h3>Upcoming Bundles</h3>
    <hr>
    <a ui-sref="bundlesShow({ id: bundle._id })" ng-if="bundle.creator === user._id" ng-repeat="bundle in bundles">
      <bundle-card ng-if="+eventDate[0] > currentYear || +eventDate[0] === currentYear && +eventDate[1] > currentMonth || +eventDate[0] === currentYear && +eventDate[1] === currentMonth && +eventDate[2] >= currentDate" event="bundle.event.name" bar="bundle.bar.name" restaurant="bundle.restaurant.name" date="bundle.event.date"></bundle-card>
    </a>
  </div>
</section>
