<section class="columns">
  <div class="column is-half-desktop">
    <img src="{{ user.image }}" alt="">
    <h6>{{ user.firstName }} {{ user.lastName }}</h6>
  </div>
  <div class="column is-half-desktop">
    <h5>{{ user.location }}</h5>
    <hr>
    <h5>{{ user.musicGenres }}</h5>
  </div>
</section>
<a class="button" ui-sref="usersEdit({ id: user._id })">Edit</a>
<hr>

<section ng-if="bundle.creator === user._id" ng-repeat="bundle in bundles" class="columns">
  <div class="column is-half-desktop">
    <h3>Previous Bundles</h3>
    <bundle-card ng-if="+eventDate[0] < currentYear || +eventDate[0] === currentYear && +eventDate[1] < currentMonth || +eventDate[0] === currentYear && +eventDate[1] === currentMonth && +eventDate[2] <= currentDate" event="bundle.event.name" bar="bundle.bar.name" restaurant="bundle.restaurant.name" date="bundle.event.date"></bundle-card>
  </div>
  <div class="column is-half-desktop">
    <h3>Upcoming Bundles</h3>
    <bundle-card ng-if="+eventDate[0] > currentYear || +eventDate[0] === currentYear && +eventDate[1] > currentMonth || +eventDate[0] === currentYear && +eventDate[1] === currentMonth && +eventDate[2] >= currentDate" event="bundle.event.name" bar="bundle.bar.name" restaurant="bundle.restaurant.name" date="bundle.event.date"></bundle-card>
  </div>
</section>
